{% extends "base.html" %}

{% block body %}
<h1>PRODUCT</h1>
<p>
    <code style="color: red;">{{message}}</code>
</p>
<form method="post">
    <div>
        <label>Id</label>
        <input type="number" name="id" />
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Active</label>
        <input type="checkbox" name="active" value="true" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
<a href="{{ url_for('index') }}">Go home</a>
{% endblock %}