{% extends "base.html" %}

{% block body %}
<p>This is my first Flask application!</p>
<p>Author: {{author}}</p>
<p>
    <a href="{{ url_for('add_product') }}">Add new product</a>
</p>
<p>
    {% for product in products %}
<div>
    [{{loop.index0}} - {{loop.index}}]
    <a href="{{ url_for('product_detail', id=product.id) }}">{{product.id}} - {{product.name}}</a>
</div>
{% endfor %}
</p>
<div>
    <img style="width:200px" src="/static/background.jpg" />
</div>
{% endblock %}