{% extends "base.html" %}

{% block body %}
<h1>PRODUCT</h1>
<p>Id: {{product.id}}</p>
<p>Name: {{product.name}}</p>
<p>
    {% if product.active %}
    <span style="color: green;"><b>Active</b></span>
    {% else %}
    <span style="color: red;"><b>Inactive</b></span>
    {% endif %}
</p>
<p>
    <a href="{{ url_for('delete_product', product_id=product.id) }}"><button>Delete</button></a>
</p>
<a href="{{ url_for('index') }}">Go home</a>
{% endblock %}